.flex {
  display: flex;
  direction: row;
}
.flex-aligncenter {
  display: flex;
  direction: row;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.gap-32 {
  gap: 32px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
