.slogan-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}
.slogan-wrapper {
  position: relative;
  width: 47%;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  line-height: 24px;
  background-color: var(--white-light);
  display: flex;
  align-items: center;
}

.slogan {
  font-size: 16px;
  font-family: galanogrotesque regular;
  color: var(--heading);
}
.caption {
  display: inline-block;
  position: absolute;
  right: 104%;
  font-family: galanogrotesque regular;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--grey);
  white-space: nowrap;
}
